@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Edição em tempo real</p>
    <p>Edição em tempo real 2</p>
    <p>@ViewData["Teste"]</p

    <p>@ViewData["Teste1"]</p>
</div>
